@use "../../const.scss" as const;

.dynamic-button {
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 5px;

    & h2 {
        margin: 0px;
    }

    &:hover h2 {
        cursor: pointer;
        color: const.getColor(primary, 3);
    }
}